
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div style="text-align: center; background-color: #00BFFF; font-size:50px;">
            <b>
                <img src="~/Content/images/logo2.png" />HHTT Drink
            </b>
        </div>
        <div>
            <pre>
               Hi, 
                    We just need to verify your Email address for complete your registration!
                    click<a href="@ViewBag.ConfirmationLink">Here!</a>
        </pre>
        </div>
    </body>
</html>
